{% extends 'base.html' %}
{% block title %}
Edit
{% endblock %}

{% block content %}


  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="#">1. Информация о&nbsp;компании</a>
            <a class="nav-link" href="#">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              <p class="alert alert-info" role="alert">
                Информация о компании обновлена
              </p>
              <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" class="btn btn-info" value="Сохранить">
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>


{% endblock %}